node_modules
.pnpm-store
.DS_Store
dist
dist-ssr
*.local
update.json
scripts/_env.sh
.vscode
.tool-versions
.idea
.old
.eslintcache
.changelog_backups
target
src-tauri/resources/verge-mihomo-android-arm64
src-tauri/resources/mihomo-android-arm64-v8-*.gz
.vfox.toml
.vfox
.claude
.zed
